<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body style="background-color: blueviolet">
    <!-- <table>
        <thead>
            <th>name</th>
            <th>age</th>
        </thead>
        <tbody>
            {% for item in data %}
                <tr>
                    <td>{{item[0]}}</td>
                    <td>{{item[1]}}</td>
                    ...
                </tr>
                {% endfor %}
            
        </tbody>
    </table> -->
    Hehhey, the server is Running 😮
</body>
</html>